# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\repo\lung-cancer-diagnosis\src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
